.main-div{
    max-width: 459px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
#errorDiv{
    margin-bottom: 10px;
    color: red
}

.input-div{
    max-width: 459px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
#background-image {
    position: absolute;
    top: 0; 
    left: 0;   
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: auto;
    width: 100%;
    height: auto;
    /*allow other elements to display on top of the image*/
    z-index: -10;
}

.header-offset-from-top {
    margin-top: 30vw;
}

.section-offset-from-top {
    margin-top: 30vw;
}
.section-offset {
    margin-top: 3vw;
}

#opening-section {
    max-width: 500px;
}
.center {
    margin-right: auto;
    margin-left: auto;
}

.primary-text {
    color: #df9f4f !important;
}

.secondary-text {
    color: #b0682d !important;
}
a.primary-text:target {
    color: white !important;
} 
a.primary-text:focus {
    color: white !important;
}


a.primary-text:hover {
    color: white !important;
}



.pallette-text {
    color: white;
    color: #150804;
    color: #713e14;
    color: #97a07c;
    color: #b0682d;
    color: #df9f4f;
}

.white-text {
    color: white !important;
}


.button-link {
    background:none!important;
    color:inherit;
    border:none; 
    padding:0!important;
    font: inherit;
    cursor: pointer;
    color: #337AB7;
}
.button-link:hover {
    /* color: blue; */
    text-decoration:underline;
} 

.media-img-section {
    min-width: 100%;
    min-height: auto;
    width: 100%;
    height: auto;
    display: inline-block;
}

.img-width {
    max-width: 30vw;
}

#step-2-list {
    padding-left: 0;
    max-width: 500px;
}
#video-width {
    max-width: 500px;
}