body {
  padding-top: 50px;
  font-family: 'Roboto', sans-serif;
}
.index-homepage {
  padding: 40px 15px;
  text-align: center;
}

.white-text {
  color: white !important;
}
@media only screen and (max-device-width: 414px) {
    #tessel {
        width: 100%;
        height: auto
    }
}

h1 {
  font-size: 5.9vw;
}
h2 {
  font-size: 3.0vh;
}
p {
  font-size: 2vmin;
}
