h2 {
    font-size: 1.5em;
    margin-top: 10px;
}

#addDeviceButton {
    color: red;
}

.deviceJS {
    vertical-align: middle;  
}

.tokenLine{
    margin-top: 10px;
}

#deviceTokenJS{
    word-wrap: break-word;
}

