h2 {
    font-size: 1.5em;
    margin-top: 10px;
}

#addDeviceButton {
    color: red;
}

.deviceJS {
    vertical-align: middle;  
}

.device-row{
    margin-top: 10px;
}

.deviceTokenJS, .device-id-js{
    word-wrap: break-word;
}

.glyphicon-pencil, .glyphicon-remove{
    color: red;

}
.glyphicon-ok{
    color: green;
}

#email-form{
    margin-top: 15px;
}

#deviceWell{
    margin-top: 15px;
}

